button{
    margin-bottom: 10px;
}
.category-UW{
    background-color: rgb(255, 70, 70);
}
.category-NR{
    background-color: rgb(81, 202, 53);
}
.category-OW{
    background-color: rgb(255, 70, 70);
}